<%= form_for @weather, :html => { :class => "form-horizontal weather" } do |f| %>

  <% if @weather.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@weather.errors.count, "error") %> prohibited this weather from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @weather.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :data, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data) %>
  </div>
  <div class="form-group">
    <%= f.label :city_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :city_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:city_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                weathers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
